body, h2 {
  font-family: Ubuntu, sans-serif;
}

body {
  position:relative;
  min-width:360px;
  min-height:480px;
  margin: 15px 15px 15px 15px;
}

.header {
  display: flex;
  align-items: end;
  color: rgb(128, 234, 111);
  text-shadow: -1px 0  rgb(94, 116, 80), 0 1px  rgb(94, 116, 80), 1px 0  rgb(94, 116, 80), 0 -1px  rgb(94, 116, 80);
  font-size: large;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(94, 116, 80);
  white-space: nowrap;
}

#icon {
  float: left;
  padding-right: 15px;
  width: 64px;
  height: 64px;
}

#logo {
  float: left;
  margin-left: 10px;
  width: 20px;
  height: 23px;
}

.header h1 {
  position: relative;
  float: left;
  margin: 0; 
}

ul {
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  padding: 0;
  color:rgb(94, 116, 80);
}

li {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 10px;
}

input{
  display: block;
  background-color: rgb(246, 249, 244);
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid rgb(94, 116, 80);
  border-radius: 5px;
  width: -webkit-fill-available;
  color: rgb(94, 116, 80);
  padding-left: 10px;
  margin-bottom: 16px;
}

::placeholder{
  color: rgb(146,183,121); 
}

.extra {
  float: left;
  font-family: sans-serif;
  color:rgb(94, 116, 80);
  font-weight: bold;
  position: relative;
}

.errorMsg{
  float: left;
  font-family: sans-serif;
  color:red;
  font-weight: bold;
  position: relative;
}

#signUpLink {
  margin-left:10px;
  float: left;
  font-family: sans-serif;
  position: relative;
  color: rgb(110, 179, 64);
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

#version {
  display: flex;
  float: right;
  font-family: sans-serif;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  display: block;
  text-align: center;
  padding: 2px;
  border: 2px solid rgb(94, 116, 80);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(128, 234, 111);
  border-radius: 5px;
  width: -webkit-fill-available;
  margin-top: 50px;
}

#signupButton {
  margin-right: 7.5px;
}

#cancelButton {
  margin-left: 7.5px;
}

.button:hover {
  color: white;
  background-color: rgb(110, 179, 64);
}
