body, h2 {
  font-family: Ubuntu, sans-serif;
}

body {
  position: relative;
  background: white;
  margin: 15px 15px 15px 15px;
  min-width: 360px;
  min-height: 800px;
}

.header {
  display: flex;
  color: rgb(128, 234, 111);
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(94, 116, 80);
  white-space: nowrap;
}

#logo {
  float: left;
  width: 370px;
  height: 69px;
  image-rendering: -webkit-optimize-contrast;
}

.header h1 {
  position: relative;
  float: left;
  margin: 0; 
}

ul {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  padding: 0;
  color: rgb(94, 116, 80);
}

li {
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 60px;
}

input{
  display: block;
  background-color: rgb(246, 249, 244);
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid rgb(94, 116, 80);
  border-radius: 5px;
  width: -webkit-fill-available;
  color: rgb(94, 116, 80);
  padding-left: 10px;
  padding-right: 10px;
}

::placeholder{
  color: rgb(146,183,121); 
  user-select: none;
}

.extra {
  float: left;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  width: -webkit-fill-available;
}

#signupText {
  float: left;
  color: rgb(94, 116, 80);
  margin-top: 0px;
  margin-bottom: 15px;
}

#signupLink {
  float: left;
  margin-left:10px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: rgb(110, 179, 64);
  text-decoration: underline;
  cursor: pointer;
}

#errorMessage {
  float: left;
  font-family: sans-serif;
  color: red;
  font-weight: bold;
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px;
}

#gitLink {
  display: flex;
  float: right;
  font-family: sans-serif;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-bottom: 15px;
}

.button {
  display: block;
  text-align: center;
  padding: 2px;
  border: 2px solid rgb(94, 116, 80);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(128, 234, 111);
  border-radius: 5px;
  width: -webkit-fill-available;
  user-select: none;
}

.button:hover {
  color: white;
  background-color: #9AF68C;
}

.button:active {
  color: white;
  background-color: #74E363;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c9dde1;
}

::-webkit-scrollbar-thum:hover {
  background: #999;
}