body, h2 {
  font-family: Ubuntu, sans-serif;
}

body {
  margin: 15px 15px 15px 15px;
  min-width:360px;
  min-height:480px;
}

.header {
  display: flex;
  align-items: end;
  color: rgb(128, 234, 111);
  text-shadow: -1px 0  rgb(94, 116, 80), 0 1px  rgb(94, 116, 80), 1px 0  rgb(94, 116, 80), 0 -1px  rgb(94, 116, 80);
  font-size: large;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(94, 116, 80);
  white-space: nowrap;
  margin-bottom: 20px;
}

#icon {
  float: left;
  padding-right: 15px;
  width: 64px;
  height: 64px;
}

#logo {
  float: left;
  margin-left: 10px;
  width: 20px;
  height: 23px;
}

.header h1 {
  position: relative;
  float: left;
  margin: 0; 
}

.scrollBox {
  border: 2px solid rgb(94, 116, 80);
  border-radius: 5px;
  padding: 5px;
  font: 14px sans-serif;
  color:rgb(94, 116, 80);
  background: #f4f8f9;
  width: 345px;
  overflow: auto;
  height: 300px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c9dde1;
}

::-webkit-scrollbar-thum:hover {
  background: #999;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  display: block;
  text-align: center;
  padding: 2px;
  border: 2px solid rgb(94, 116, 80);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(128, 234, 111);
  border-radius: 5px;
  width: -webkit-fill-available;
  margin-top: 20px;
}

.button:hover {
  color: white;
  background-color: rgb(110, 179, 64);
}
