# 파일 규격 버전
version: "3"
# 이 항목 밑에 실행하려는 컨테이너 들을 정의
services:
  web:
    image: nginx
    ports: 
      - 80:80
    volumes: 
      - ./nginx/conf.d:/etc/nginx/conf.d

  server:
    image: atk-server
    build: ./docker/server
    container_name: atk-ubuntu
    stdin_open: true
    tty: true
    entrypoint: /bin/bash
  
  # 서비스 명
  database:
    # 사용할 이미지
    image: mariadb
    # 컨테이너 이름 설정
    container_name: atk-mysql
    # 접근 포트 설정 (컨테이너 외부:컨테이너 내부)
    ports:
      - "3307:3306"
    # -e 옵션
    environment: 
      # MongoDB 계정 및 패스워드 설정 옵션
      - MYSQL_DATABASE=atk
      - MYSQL_ROOT_PASSWORD=atk123!

    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      # -v 옵션 (다렉토리 마운트 설정)
      - ~/data/mysql-db:/var/lib/mysql
  
  spring:
    image: hsj4665/atk-spring:0.7
    container_name: atk-spring
    ports:
      - 8080:8080
    depends_on:
      - database
    environment:
      SPRING_DATASOURCE_URL: jdbc:mariadb://database:3306/atk?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: atk123!
    volumes:
      - ~/app/stt/files:/root/app/stt/files
  
  fastapi:
    image: hsj4665/atk-fastapi:0.4
    container_name: atk-fastapi
    ports:
      - 8000:8000
    volumes:
      - ~/app/stt/files:/api/files
