# 파일 규격 버전
version: "3"
# 이 항목 밑에 실행하려는 컨테이너 들을 정의
services:
  server:
    image: atk-server
    build: .
    container_name: atk-ubuntu
    stdin_open: true
    tty: true
    entrypoint: /bin/bash
  
  # 서비스 명
  database:
    # 사용할 이미지
    image: mariadb
    # 컨테이너 실행 시 재시작
    restart: always
    # 컨테이너 이름 설정
    container_name: atk-mysql
    # 접근 포트 설정 (컨테이너 외부:컨테이너 내부)
    ports:
      - "3306:3306"
    # -e 옵션
    environment: 
      # MongoDB 계정 및 패스워드 설정 옵션
      - MYSQL_DATABASE=atk
      - MYSQL_ROOT_PASSWORD=atk123!

    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      # -v 옵션 (다렉토리 마운트 설정)
      - ~/data/mysql-db:/var/lib/mysql
